<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <!-- 
     * Ojektverwaltung-UI, SP1 SoSe 2014, Team: Comanche
     * (C)opyright Sebastian Dassé, Mat.-Nr. 791537, s50602@beuth-hochschule.de
     *
    -->
    
    <title>SP1 Ojektverwaltung-UI, Team: Comanche</title>
    
    <!-- import style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">


    <!-- import javascript -->

    <!-- for production -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
    
    <!-- for development -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script> -->
    
    
    <!-- for production -->
    <!-- <script src="lib/angular.min.js"></script> -->
    
    <!-- for development -->
    <script src="lib/angular.js"></script>
    
    
    <!-- maven for production -->
    <!-- <script type="text/javascript" src="webjars/angularjs/1.2.16-2/angular.min.js"></script> -->
    
    <!-- maven for development -->
    <!-- <script type="text/javascript" src="webjars/angularjs/1.2.16-2/angular.js"></script> -->

    
    <script src="js/Ctrl.js"></script>
    
</head>
<body ng-app="myApp" ng-controller="Ctrl">
    
    <!-- display errors here -->
    <pre id="error"></pre>

    

    <div id="login_area" ng-hide="user.loggedIn" class="input_area">

        <!-- <label for="inputPassword">Test</label>
        <input id="test" name="test" type="text" ng-model="test2" ng-minlength="2" ng-maxlength="8" ng-pattern="allowedPassword" />
        <span ng-show="myForm.test2.$error.minlength || myForm.test2.$error.maxlength || myForm.test2.$error.pattern">The value must be in range 2 to 8!</span> -->

        <form name="myForm" ng-submit="login()" class="my_form">
            <span class="full_width_input">
                <label for="inputName">Benutzername</label>
                <input id="inputName" name="inputName" type="text" ng-model="user.name" placeholder="Dein Benutzername ..." required />
                <!-- <span class="error" ng-show="myForm.inputName.$dirty && myForm.inputName.$error.required"> &larr; Pflichtfeld!</span> -->

                <label for="inputPassword">Passwort</label>
                <input id="inputPassword" name="inputPassword" ng-hide="showPassword" type="password" ng-model="user.password" 
                placeholder="8-20 Buchstaben" ng-change="turnOffWarning()" required />

                <input id="inputPasswordPlain" name="inputPasswordPlain" ng-show="showPassword" type="text" ng-model="user.password" 
                placeholder="8-20 Buchstaben" ng-change="turnOffWarning()" required />

                <!-- ng-pattern="allowedPassword"  -->
                <!-- <span class="error" ng-show="myForm.inputPassword.$error.required"> &larr; Pflichtfeld!</span> -->

                <!-- <input id="inputPassword2" name="inputPassword2" ng-show="showPassword" type="text" ng-model="user.password" 
                placeholder="8-20 Buchstaben" ng-change="turnOffWarning()" required /> -->
                
                <div class="error">{{ warning }}</div>
                
                <!-- ng-pattern="allowedPassword"  -->
                <!-- <div class="error" ng-show="myForm.inputPassword.$error.pattern">Das Passwort muss 8-20 Zeichen lang sein und darf keine Leerzeichen enthalten!</div> -->
            </span>
            
            <input id="toggleShowPassword" type="checkbox" ng-model="showPassword" ng-checked="false" />
            <label for="toggleShowPassword">Klartext</label>
            
            <span class="full_width_input">
                <input id="login" type="submit" value="Login" />
            </span>
        </form>
        
    </div>



    <div id="logged_in_area" ng-show="user.loggedIn" class="input_area">
    <!-- <div id="logged_in_area" class="input_area"> -->
        <!-- <div>
            Hallo {{ user.name.toUpperCase() }}, du bist eingeloggt.
        </div>
        
        <br /> -->

        <!-- -- M E N U E --<br/><br />
        - Neue Terminumfrage<br/>
        - Terminumfragenliste >> bei Auswahl >> aendern / loeschen<br/>
        - Terminumfrage suchen >> Auswahl filtern<br/><br /> -->

        <div id="survey_selection_area" ng-hide="user.inEditMode">

            <span class="full_width_input">
                <!-- <input id="addSurvey" type="button" value="Neue Terminumfrage erstellen" onclick="console.log('Neue Terminumfrage erstellen')" /> -->
                <!-- <input id="addSurvey" type="button" value="Neue Terminumfrage erstellen" onclick="console.log('Neue Terminumfrage erstellen')" /> -->
                <input id="addSurvey" type="button" value="Neue Terminumfrage erstellen" ng-click="addSurvey()" />
                
                <!--++++ TODO: Baustelle ++++++++++++++++++++-->
                <select id="surveyList" ng-model="user.selectedSurvey" ng-options="survey.name for survey in user.surveys | filter:user.searchString" size="5%"></select>
                <!-- <select id="surveyList" ng-model="user.selectedSurvey" size="5%">
                    <option ng-repeat="survey in user.surveys | filter:user.searchString" value="survey.name" onselect="console.log('hi')">{{ survey.name }} (Deadline: {{ survey.deadline.toDateString() }})</option>
                </select> -->

                <input id="filter" type="search" placeholder="Terminumfragen durchsuchen ..." ng-model="user.searchString" ng-keyup="$log.log('searchString: \'' + user.searchString + '\'')" ng-change="updateSelection()"/>

                <input id="editSurvey" type="button" value="Terminumfrage anzeigen und bearbeiten" ng-click="editSurvey()" />
                <input id="deleteSurvey" type="button" value="Terminumfrage l&ouml;schen" ng-click="deleteSelectedSurvey()" />
            </span>

            <textarea rows="5" readonly>{{ user.selectedSurvey.description }}</textarea>

            <!-- <table>
                <tr ng-repeat="survey in user.surveys | filter:user.searchString">
                    <td>
                        <button id="survey" ng-click="selectSurvey()" >{{ survey.name }}</button>
                        <label for="survey">{{ survey.description }}</label>
                    </td>
                </tr>
            </table> -->



            
            <!-- <form class="myForm"> -->

            <!-- <select size="5%">
                <option ng-repeat="survey in user.surveys | filter:user.searchString" value="survey.name" onselect="console.log('hi')">{{ survey.name }}</option>
            </select> -->


            <!-- </form> -->
        </div>



        <div id="survey_edit_area" ng-show="user.inEditMode">
            <span class="full_width_input">

                <label for="editSurveyName">Name</label>
                <input id="editSurveyName" type="text" ng-model="user.tempSurvey.name" ng-change="$log.log(user.tempSurvey.name);"/>

                <label for="editSurveyDescription">Beschreibung</label>
                <textarea id="editSurveyDescription" rows="5" ng-model="user.tempSurvey.description" ng-change="$log.log(user.tempSurvey.description);"></textarea>
                
                <label for="editSurveyType">Typ</label>
                <select id="editSurveyType" ng-model="user.tempSurvey.type" ng-options="type for type in typeOptions" ng-change="$log.log(user.tempSurvey.type);"></select>
                <!-- <select id="editSurveyType" ng-model="user.tempSurvey.type" ng-change="$log.log(user.tempSurvey);">
                    <option ng-repeat="(value, key) in Type" value="key" ng-selected="$log.log(user.tempSurvey.type);">{{key}}</option>
                </select> -->
                
                <label for="editSurveyDeadline">Deadline</label>
                <!-- <input id="editSurveyDeadline" type="text" ng-model="user.tempSurvey.deadline" ng-change="$log.log(user.tempSurvey.deadline);"/> -->
                <input id="editSurveyDeadline" name="editSurveyDeadline" type="datetime-local" ng-model="user.tempSurvey.deadline" ng-change="$log.log(user.tempSurvey.deadline);"/>

                <label for="editSurveyFrequencyDistance">Frequenz - Abstand</label>
                <input id="editSurveyFrequencyDistance" type="number" min="0" ng-model="user.tempSurvey.frequency.distance" ng-change="$log.log(user.tempSurvey.frequency);"/>
                
                <label for="editSurveyFrequencyTimeUnit">Frequenz - Zeiteinheit</label>
                <select id="editSurveyFrequencyTimeUnit" ng-model="user.tempSurvey.frequency.timeUnit" ng-options="timeunit for timeunit in timeUnitOptions" ng-change="$log.log(user.tempSurvey.frequency);"></select>


                <!-- <select id="editSurveyType" ng-model="user.tempSurvey.type" ng-options="type for type in Type" ng-change="$log.log(user.tempSurvey.type);"></select> -->


                <label for="editSurveyPossibleTimeslots">M&ouml;gliche Zeitr&auml;ume</label>
                <!-- <select id="editSurveyPossibleTimeslots" type="text" ng-model="user.tempSurvey.possibleTimeslots" ng-options="timeslot for timeslot in possibleTimeslots" ng-change="$log.log(user.tempSurvey.possibleTimeslots);"></select> -->

                <div id="editSurveyPossibleTimeslots">
                    <ul>
                        <li ng-repeat="timeslot in user.tempSurvey.possibleTimeslots"> <!-- TODO: Redundanz -->
                            <!-- <input type="datetime-local" ng-model="timeslot.startTime"/> -->
                            <input type="text" ng-model="timeslot.startTime"/>
                            <input type="number" ng-model="timeslot.durationInMins"/>
                            [ <a href="" ng-click="removeTimeSlotFromTempSurvey(timeslot)">L&ouml;schen</a> ]
                        </li>
                        <li>[ <a href="" ng-click="addTimeSlotToTempSurvey()">Hinzuf&uuml;gen</a> ]</li>
                    </ul>
                </div>



                <label for="editSurveyDeterminedTimeslotStart">Ermittelter Zeitraum - Startzeitpunkt</label>
                <input id="editSurveyDeterminedTimeslotStart" type="text" ng-model="user.tempSurvey.determinedTimeslot.startTime" ng-change="$log.log(user.tempSurvey.determinedTimeslot);"/>

                <label for="editSurveyDeterminedTimeslotDuration">Ermittelter Zeitraum - Dauer in Minuten</label>
                <input id="editSurveyDeterminedTimeslotDuration" type="number" min="0" ng-model="user.tempSurvey.determinedTimeslot.durationInMins" ng-change="$log.log(user.tempSurvey.determinedTimeslot);"/>


                <input id="cancelSurveyEdit" type="button" value="Abbrechen" ng-click="cancelEditSurvey()" />
                <input id="saveSurveyEdit" type="button" value="Speichern" ng-click="saveSurvey()" />
                <!-- <input id="saveSurveyEdit" type="button" value="Speichern" ng-click="$log.log(user.tempSurvey);" /> -->
            </span>
        </div>



        <!-- erfassen von Terminumfragen -->
        <div id="logged_in_area" ng-show="user.loggedIn" class="input_area"></div>

        
        <!-- ändern von Terminumfragen -->
        <div id="logged_in_area" ng-show="user.loggedIn" class="input_area"></div>

        
        <!-- löschen von Terminumfragen -->
        <div id="logged_in_area" ng-show="user.loggedIn" class="input_area"></div>

        
        <!-- suchen von Terminumfragen -->
        <div id="logged_in_area" ng-show="user.loggedIn" class="input_area"></div>


        <br />

        <span class="full_width_input">
            <input id="logout" type="button" value="Logout" ng-click="logout()" />
        </span>

    </div>

 
</body>
</html>