<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <!-- import style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">


    <!-- import javascript -->
    <script src="lib/angular.js"></script>
    <script src="js/diTestCtrl.js"></script>
    <script src="js/diTestInj.js"></script>
    
</head>
<body ng-app="diTestApp" ng-controller="diTestCtrl">
    
    <!-- display errors here -->
    <pre id="error"></pre>
    
    
    <div>
        <input type="button" value="TEST1" ng-click="c1.test1()">
        OUTPUT 1.1: ' {{ c1.testOutput1 }} '

        <br>

        <input type="button" value="TEST2" ng-click="c1.test2()">
        OUTPUT 1.2: ' {{ c1.testOutput2 }} '
        <br><br>
        
        SELECTED: ' {{ c1.testModel }} '
        <select ng-options="selection for selection in c1.testSelection" ng-model="c1.testModel"></select>
        SELECTION: ' {{ c1.testSelection }} '
    </div><br></br>
    
    
    <div ng-controller="anotherCtrl"> 
        <input type="button" value="TEST1" ng-click="c2.test1()">
        OUTPUT 2.1: ' {{ c2.testOutput1 }} '

        <br>

        <input type="button" value="TEST2" ng-click="c2.test2()">
        OUTPUT 2.2: ' {{ c2.testOutput2 }} '
        <br><br>
        
        SELECTED: ' {{ c2.testModel }} '
        <select ng-options="selection for selection in c2.testSelection" ng-model="c2.testModel"></select>
        SELECTION: ' {{ c2.testSelection }} '
    </div>

 
</body>
</html>
