<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <!-- 
     * Ojektverwaltung-UI, SP1 SoSe 2014, Team: Comanche
     * (C)opyright Sebastian Dassé, Mat.-Nr. 791537, s50602@beuth-hochschule.de
     *
    -->
    
    <title>SP1 Ojektverwaltung-UI, Team: Comanche</title>
    
    <!-- import style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">


    <!-- import javascript -->

    <!-- for production -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
    
    <!-- for development -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script> -->
    
    
    <!-- for production -->
    <!-- <script src="lib/angular.min.js"></script> -->
    
    <!-- for development -->
    <script src="lib/angular.js"></script>
    
    
    <!-- maven for production -->
    <!-- <script type="text/javascript" src="webjars/angularjs/1.2.16-2/angular.min.js"></script> -->
    
    <!-- maven for development -->
    <!-- <script type="text/javascript" src="webjars/angularjs/1.2.16-2/angular.js"></script> -->

    
    <script src="js/Ctrl.js"></script>
    
</head>
<body ng-app="myApp" ng-controller="Ctrl">
    
    <!-- display errors here -->
    <pre id="error"></pre>


    <div id="injectionTest">
        TEST: {{ test123 }}
    </div>

    <!-- ==== TRYING TO UNDERSTAND MODULES AND CONTROLLERS ==== -->
    <!-- <div ng-controller="Test">
        {{testing}}
    </div>
    <div ng-controller="Test2">
        {{testing2}}
    </div> -->
    <!-- ====================================================== -->
    

    <div id="login_area" ng-hide="user.loggedIn" class="input_area">

        <form name="myForm" ng-submit="login()" class="my_form">
            <span class="full_width_input">
                <label for="inputName">Benutzername</label>
                <input id="inputName" name="inputName" type="text" ng-model="user.name" placeholder="Dein Benutzername ..." required />
                <!-- <span class="error" ng-show="myForm.inputName.$dirty && myForm.inputName.$error.required"> &larr; Pflichtfeld!</span> -->

                <label for="inputPassword">Passwort</label>
                <input id="inputPassword" name="inputPassword" ng-hide="showPassword" type="password" ng-model="user.password" 
                placeholder="8-20 Buchstaben" ng-change="turnOffWarning()" required />

                <input id="inputPasswordPlain" name="inputPasswordPlain" ng-show="showPassword" type="text" ng-model="user.password" 
                placeholder="8-20 Buchstaben" ng-change="turnOffWarning()" required />

                <!-- ng-pattern="allowedPassword"  -->
                <!-- <span class="error" ng-show="myForm.inputPassword.$error.required"> &larr; Pflichtfeld!</span> -->

                <!-- <input id="inputPassword2" name="inputPassword2" ng-show="showPassword" type="text" ng-model="user.password" 
                placeholder="8-20 Buchstaben" ng-change="turnOffWarning()" required /> -->
                
                <div class="error">{{ warning }}</div>
                
                <!-- ng-pattern="allowedPassword"  -->
                <!-- <div class="error" ng-show="myForm.inputPassword.$error.pattern">Das Passwort muss 8-20 Zeichen lang sein und darf keine Leerzeichen enthalten!</div> -->
            </span>
            
            <input id="toggleShowPassword" type="checkbox" ng-model="showPassword" ng-checked="false" />
            <label for="toggleShowPassword">Klartext</label>
            
            <span class="full_width_input">
                <input id="login" type="submit" value="Login" />
            </span>
        </form><!-- myForm -->
        
    </div><!-- login_area -->



    <div id="logged_in_area" ng-show="user.loggedIn" class="input_area">

        <div id="survey_selection_area" ng-hide="user.inEditMode">
            <span class="full_width_input">
                
                <input id="addSurvey" type="button" value="Neue Terminumfrage erstellen" ng-click="addSurvey()" />
                
                <!--++++ TODO: Baustelle ++++++++++++++++++++-->
                <select id="surveyList" ng-model="user.selectedSurvey" ng-options="survey.name for survey in user.surveys | filter:user.searchString" size="5%"></select>
                
                <!-- <select id="surveyList" ng-model="user.selectedSurvey" size="5%">
                    <option ng-repeat="survey in user.surveys | filter:user.searchString" value="survey.name" onselect="console.log('hi')">{{ survey.name }} (Deadline: {{ survey.deadline.toDateString() }})</option>
                </select> -->

                <input id="filter" type="search" placeholder="Terminumfragen durchsuchen ..." ng-model="user.searchString" ng-keyup="$log.log('searchString: \'' + user.searchString + '\'')" ng-change="updateSelection()"/>

                <input id="editSurvey" type="button" value="Terminumfrage anzeigen und bearbeiten" ng-click="editSurvey()" />
                <input id="deleteSurvey" type="button" value="Terminumfrage l&ouml;schen" ng-click="deleteSelectedSurvey()" />
            </span>

            <textarea rows="5" readonly>{{ user.selectedSurvey.description }}</textarea>
        </div><!-- survey_selection_area -->



        <div id="survey_edit_area" ng-show="user.inEditMode">
            <span class="full_width_input">

                <label for="editSurveyName">Name</label>
                <input id="editSurveyName" type="text" ng-model="user.tempSurvey.name" ng-change="$log.log(user.tempSurvey.name);"/>

                <label for="editSurveyDescription">Beschreibung</label>
                <textarea id="editSurveyDescription" rows="5" ng-model="user.tempSurvey.description" ng-change="$log.log(user.tempSurvey.description);"></textarea>
                
                <label for="editSurveyType">Typ</label>
                <select id="editSurveyType" ng-model="user.tempSurvey.type" ng-options="type for type in typeOptions" ng-change="$log.log(user.tempSurvey.type);"></select>
                
                <label for="editSurveyDeadlineDate">Deadline</label>
                <input id="editSurveyDeadlineDate" type="date" ng-model="user.tempSurvey.deadline.date" ng-change="$log.log(user.tempSurvey.deadline.toDate())" required />
                <input id="editSurveyDeadlineTime" type="time" ng-model="user.tempSurvey.deadline.time" ng-change="$log.log(user.tempSurvey.deadline.toDate())" required />


                <label for="editSurveyFrequencyDistance">Frequenz - Abstand</label>
                <input id="editSurveyFrequencyDistance" type="number" min="0" ng-model="user.tempSurvey.frequency.distance" ng-change="$log.log(user.tempSurvey.frequency);"/>
                
                <label for="editSurveyFrequencyTimeUnit">Frequenz - Zeiteinheit</label>
                <select id="editSurveyFrequencyTimeUnit" ng-model="user.tempSurvey.frequency.timeUnit" ng-options="timeunit for timeunit in timeUnitOptions" ng-change="$log.log(user.tempSurvey.frequency);"></select>


                <label for="editSurveyPossibleTimeslots">M&ouml;gliche Zeitr&auml;ume</label>
                <div id="editSurveyPossibleTimeslots">
                    <ul>
                        <li ng-repeat="timeslot in user.tempSurvey.possibleTimeslots">
                            <label for="editSurveyDeterminedTimeslotDuration">Startzeitpunkt</label>
                            <input id="timeslotStartDate" type="date" ng-model="timeslot.startTime.date" ng-change="$log.log(timeslot.startTime.toDate())" required />
                            <input id="timeslotStartTime" type="time" ng-model="timeslot.startTime.time" ng-change="$log.log(timeslot.startTime.toDate())" required />

                            <label id="timeslotDuration" for="editSurveyDeterminedTimeslotDuration">Dauer in Minuten</label>
                            <input type="number" min="0" ng-model="timeslot.durationInMins" ng-change="$log.log(timeslot.startTime.durationInMins)" required />
                            [ <a href="" ng-click="removeTimeSlotFromTempSurvey(timeslot)">L&ouml;schen</a> ]
                        </li>
                        <li>[ <a href="" ng-click="addTimeSlotToTempSurvey()">Hinzuf&uuml;gen</a> ]</li>
                    </ul>
                </div>


                <label for="editSurveyDeterminedTimeslotStartDate">Ermittelter Zeitraum - Startzeitpunkt</label>
                <input id="editSurveyDeterminedTimeslotStartDate" type="date" ng-model="user.tempSurvey.determinedTimeslot.startTime.date" ng-change="$log.log(user.tempSurvey.determinedTimeslot.startTime.toDate())" />
                <input id="editSurveyDeterminedTimeslotStartTime" type="time" ng-model="user.tempSurvey.determinedTimeslot.startTime.time" ng-change="$log.log(user.tempSurvey.determinedTimeslot.startTime.toDate())" />

                <label for="editSurveyDeterminedTimeslotDuration">Ermittelter Zeitraum - Dauer in Minuten</label>
                <input id="editSurveyDeterminedTimeslotDuration" type="number" min="0" ng-model="user.tempSurvey.determinedTimeslot.durationInMins" ng-change="$log.log(user.tempSurvey.determinedTimeslot.durationInMins);"/>


                <input id="cancelSurveyEdit" type="button" value="Abbrechen" ng-click="cancelEditSurvey()" />
                <input id="saveSurveyEdit" type="button" value="Speichern" ng-click="saveSurvey()" />
            </span>
        </div><!-- survey_edit_area -->



        <br />
        <div class="full_width_input">
            <input id="logout" type="button" value="Logout" ng-click="logout()" />
        </div>

    </div><!-- logged_in_area -->

 
</body>
</html>
