target/
.settings
.classpath
.DS_Store
._*
*.swp
phonegap-prototype
*._
.fuse_h*
webtest/target/
#hibernate-prototype/java/target/classes/
#server-prototype/eclipse_jetty_jersea/WebContent/WEB-INF/lib
#*.jar
