<ptj-menu></ptj-menu>
<div class='container'>
  <!-- %div#temporary-debug-output selectedInvite: '{{ selectedInvite }}' -->
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-4'>
        <div class='tabbable'>
          <ul class='nav nav-tabs'>
            <li class='active'>
              <a data-toggle='tab' href='#surveyTab' onclick='return false;'>
                Survey
                <span class='badge'>{{surveys.length}}</span>
              </a>
            </li>
            <li>
              <a data-toggle='tab' href='#inviteTab' onclick='return false;'>
                Invite
                <span class='badge'>{{(invites | filter: {ignored : !"YES"}).length}}</span>
              </a>
            </li>
            <li>
              <a data-toggle='tab' href='#ignoredInviteTab' onclick='return false;'>
                Ignored
                <span class='badge'>{{(invites | filter: {ignored : "YES"}).length}}</span>
              </a>
            </li>
          </ul>
          <div class='tab-content'>
            <div class='tab-pane active' id='surveyTab'>
              <input class='form-control' id='filter' ng-change='updateSelection()' ng-model='searchString' placeholder='Filter surveys ...' type='search'>
              <div class='list-group' id='surveyList'></div>
              <a class='list-group-item' href='' ng-click='selectSurvey(survey)' ng-repeat='survey in surveys | filter:searchString'>{{survey.name}}</a>
            </div>
            <div class='tab-pane' id='inviteTab'>
              <input class='form-control' id='filter' ng-change='updateSelection()' ng-model='searchString' placeholder='Filter invites ...' type='search'>
              <div class='list-group' id='surveyList'></div>
              <a class='list-group-item' href='' ng-click='selectInvite(invite);' ng-repeat='invite in invites | filter:searchString'>
                <div class='col-sm-7'>{{invite.survey.name}}</div>
                <div class='btn-group'>
                  <label btn-radio="'accept'" class='btn btn-primary btn-sm' ng-click='setSelectedInviteStatus(Status.NO)' ng-model='radioModel'>accept</label>
                  <label btn-radio="'ignore'" class='btn btn-primary btn-sm' ng-click='setSelectedInviteStatus(Status.YES)' ng-model='radioModel'>ignore</label>
                </div>
              </a>
            </div>
            <div class='tab-pane' id='ignoredInviteTab'>
              <input class='form-control' id='filter' ng-change='updateSelection()' ng-model='searchString' placeholder='Filter ignored invites ...' type='search'>
              <div class='list-group' id='surveyList'></div>
              <a class='list-group-item' href='' ng-click='selectInvite(invite);' ng-repeat='invite in invites | filter: searchString '>
                <div class='col-sm-9'>{{invite.survey.name}}</div>
                <label btn-radio="'reaccept'" class='btn btn-primary btn-sm' ng-click='setSelectedInviteStatus(Status.NO)' ng-model='radioModel'>reaccept</label>
              </a>
            </div>
          </div>
        </div>
        <!-- %div DEBUG selected: {{ selectedInvite }} -->
      </div>
      <div class='col-md-8'>
        <!-- %input#filter.form-control{"ng-change" => "updateSelection()", "ng-model" => "searchString", :placeholder => "Terminumfragen durchsuchen ...", :type => "search"} -->
        <!-- %input#filter.form-control{"ng-change" => "updateSelection()", "ng-keyup" => "$log.log('searchString: \\'' + user.searchString + '\\'')", "ng-model" => "user.searchString", :placeholder => "Terminumfragen durchsuchen ...", :type => "search"} -->
        <input class='btn btn-primary' id='addSurvey' ng-click='addSurvey()' type='button' value='Create a survey'>
        <input class='btn btn-primary' id='editSurvey' ng-click='editSurvey()' type='button' value='Show and edit selected survey'>
        <input class='btn btn-primary' id='deleteSurvey' ng-click='deleteSelectedSurvey()' type='button' value='Delete selected survey'>
        <div class='panel panel-default' id='surveyPreview'>
          <div class='panel-body'>
            <label for='selectedSurveyDescription'>Description:</label>
            <div id='selectedSurveyDescription'>{{ selectedInvite.survey.description }}</div>
            <div>Deadline : {{selectedInvite.survey.deadline | date:'yyyy-MM-dd HH:mm'}}</div>
            <label for='selectedSurveyDescription'>Status:</label>
            <div id='selectedSurveyStatus'>ignored {{ selectedInvite.ignored }}</div>
            <!-- %label{:for => "selectedSurveyDescription"} Deadline: -->
            <!-- %div#selectedSurveyDescription{} {{ selectedInvite.survey.deadline }} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
