.container
  .row
    %ptj-menu
%a#username{"data-pk" => "1", "data-title" => "Enter username", "data-type" => "text", "data-url" => "/post", :href => "#"} superuser
.row
  / search & results
  / sidebar
  .col-md-2
    / <ptj-groups></ptj-groups>
  .col-md-8
    .btn-group.pull-right
      %label.btn.btn-primary{"btn-radio" => "'Once'", "ng-model" => "radioModel"} Once
      %label.btn.btn-primary{"btn-radio" => "'Repeatedly'", "ng-model" => "radioModel"} Repeatedly
    %h2
      %a{"editable-text" => "surveyTitle", :href => "#"}
        
    %br/
    / add to group
    %ptj-search
    %ptj-members
    %ptj-survey-details
  / </div>