.container
  .row
    %ptj-menu
  .row
    / search & results
    / sidebar
    .col-md-2
      %ptj-survey-select
    .col-md-8
      .row
        .col-md-8
          %h2
            .item-wrapper
              %a{"editable-text" => "surveyTitle", :href => "#"}
                {{surveyTitle}}
          %h4
            .item-wrapper
              %a{"editable-text" => "surveyDescription", :href => "#"}
                {{surveyDescription}}
        .col-md-4
          .row
            .btn-group.pull-right
              %label.btn.btn-primary{"btn-radio" => "'Once'", "ng-click"=>"repeatedly=false"} Once
              %label.btn.btn-primary{"btn-radio" => "'Repeatedly'",  "ng-click"=>"repeatedly=true"} Repeatedly
            %br/
            %br/
            %btn.btn-sm.btn-success.pull-right{"ng-click" => "showLiveButton=false", "ng-show" => "showLiveButton"}
              Live
              %span.glyphicon.glyphicon-bullhorn
            %btn.btn-sm.btn-warning.pull-right{"ng-click" => "showLiveButton=true", "ng-show" => "!showLiveButton"}
              Staged
              %span.glyphicon.glyphicon-off
      %br/
      %ptj-search
      %ptj-members
      %br
      .panel.panel-primary
        .panel-heading
          .glyphicon.glyphicon-time
          Survey Runtime
        .panel-body
          %row
            .col-md-9.col-md-offset-1
              .row
                .col-md-6
                  %p.input-group
                    %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "datepicker-popup" => "dd-MMMM-yyyy", "is-open" => "fromOpened", "max-date" => "'2015-06-22'", "min-date" => "minDate", "ng-model" => "dt", "ng-required" => "true", :type => "text"}
                    %span.input-group-btn
                      %button.btn.btn-default{"ng-click" => "openFrom($event)", :type => "button"}
                        %i.glyphicon.glyphicon-calendar
                  %timepicker{"hour-step" => "1", "minute-step" => "1", "ng-model" => "mytime1"}
                .col-md-6
                  %p.input-group
                    %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "datepicker-popup" => "dd-MMMM-yyyy", "is-open" => "toOpened", "max-date" => "'2015-06-22'", "min-date" => "minDate", "ng-model" => "dt", "ng-required" => "true", :type => "text"}
                    %span.input-group-btn
                      %button.btn.btn-default{"ng-click" => "openTo($event)", :type => "button"}
                        %i.glyphicon.glyphicon-calendar
                  %timepicker.pull-right{"hour-step" => "1", "minute-step" => "1", "ng-model" => "mytime2"}
    .col-md-2
      / %input.span2{"data-slider-max" => "20", "data-slider-min" => "-20", "data-slider-orientation" => "vertical", "data-slider-selection" => "after", "data-slider-step" => "1", "data-slider-tooltip" => "hide", "data-slider-value" => "-14", :type => "text", :value => ""}
      %input-group{"ng-show"=>"repeatedly"}
        %input.form-control{"type"=>"text", "placeholder"=>"Frequency"}
        %input.form-control{"type"=>"text", "placeholder"=>"Distance"}
  .row
    .col-md-2
    .col-md-8
      %btn.pull-right{"type"=>"button", "class"=>"btn btn-primary"}
        Send

