.container
  .row
    %ptj-menu
  .row
    / search & results
    / sidebar
    .col-md-2
      / <ptj-groups></ptj-groups>
    .col-md-8
        .col-md-4
          .row
            .btn-group.pull-right
              %label.btn.btn-primary{"btn-radio" => "'Once'", "ng-model" => "radioModel"} Once
              %label.btn.btn-primary{"btn-radio" => "'Repeatedly'", "ng-model" => "radioModel"} Repeatedly
            %br/
            %br/
            %btn.btn-sm.btn-success.pull-right{"ng-click" => "showLiveButton=false", "ng-show" => "showLiveButton"}
              Live
              %span.glyphicon.glyphicon-bullhorn
            %btn.btn-sm.btn-warning.pull-right{"ng-click" => "showLiveButton=true", "ng-show" => "!showLiveButton"}
              Staged
              %span.glyphicon.glyphicon-off
      %br/
      %ptj-search
      %ptj-members
      .row
        %br/
        .col-md-6{:style => "background-color: rgba(0,0,255,0.1);"}
          %div START :
          %timepicker{"hour-step" => "1", "minute-step" => "1", "ng-model" => "mytime"}
          %ptj-survey-details
        .col-md-6{:style => "background-color: rgba(25,25,25,0.1);"}
          %div END :
          %timepicker{"hour-step" => "1", "minute-step" => "1", "ng-model" => "mytime2"}
          %ptj-survey-details
      / slider
      #red.ng-valid.ui-slider.ui-widget.ui-widget-content.ui-corner-all.ui-slider-horizontal.ng-dirty{"aria-disabled" => "false", "ng-model" => "colorpicker.red", "ui-slider" => "colorpicker.options"}
        .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min{:style => "width: 78.4314%;"}
        %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 78.4314%;"}
      %pre.alert.alert-info Zeit von  bis  am