.container
  .row
    %ptj-menu
  .row
    / search & results
    / sidebar
    / %div#temporary-debug-output1 users: '{{ users }}'
    / %div#temporary-debug-output0 invites: '{{ invites }}'
    / %div#temporary-debug-output2 selectedInvite: '{{ selectedInvite }}'
    /  QUESTION do we need/want a survey selection side-bar?  ->  if not -> TODO no getInvites for this route
    / .col-md-2
    /   %ptj-survey-select
    .col-md-8
      .row
        .col-md-8
          %h2
            .item-wrapper
              %a{"editable-text" => "selectedInvite.survey.name", :href => "#"}
                {{selectedInvite.survey.name}}
          %h4
            .item-wrapper
              %a{"editable-text" => "selectedInvite.survey.description", :href => "#"}
                {{selectedInvite.survey.description}}
        .col-md-4
          .row
            .btn-group.pull-right
              %label.btn.btn-primary{"btn-radio" => "'Once'", "ng-model" => "still_needs_a_model", "ng-click"=>"repeatedly=false"} Once
              %label.btn.btn-primary{"btn-radio" => "'Repeatedly'", "ng-model" => "still_needs_a_model", "ng-click"=>"repeatedly=true"} Repeatedly
            %br/
            %br/
            %btn.btn-sm.btn-success.pull-right{"ng-click" => "showLiveButton=false", "ng-show" => "showLiveButton"}
              Live
              %span.glyphicon.glyphicon-bullhorn
            %btn.btn-sm.btn-warning.pull-right{"ng-click" => "showLiveButton=true", "ng-show" => "!showLiveButton"}
              Staged
              %span.glyphicon.glyphicon-off
      %br/
      %ptj-search
      %ptj-members
      %br
      .panel.panel-primary
        .panel-heading
          .glyphicon.glyphicon-time
          Survey Runtime
        .panel-body
          %row
            .col-md-9.col-md-offset-1
              .row
                .col-md-6
                  %p.input-group
                    %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "datepicker-popup" => "dd-MMMM-yyyy", "is-open" => "fromOpened", "max-date" => "'2015-06-22'", "min-date" => "minDate", "ng-model" => "dt", "ng-required" => "true", :type => "text"}
                    %span.input-group-btn
                      %button.btn.btn-default{"ng-click" => "openFrom($event)", :type => "button"}
                        %i.glyphicon.glyphicon-calendar
                  %timepicker{"hour-step" => "1", "minute-step" => "1", "ng-model" => "mytime1"}
                .col-md-6
                  %p.input-group
                    %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "datepicker-popup" => "dd-MMMM-yyyy", "is-open" => "toOpened", "max-date" => "'2015-06-22'", "min-date" => "minDate", "ng-model" => "dt", "ng-required" => "true", :type => "text"}
                    %span.input-group-btn
                      %button.btn.btn-default{"ng-click" => "openTo($event)", :type => "button"}
                        %i.glyphicon.glyphicon-calendar
                  %timepicker.pull-right{"hour-step" => "1", "minute-step" => "1", "ng-model" => "mytime2"}
      %slider{:max => "", :min => "", "ng-model" => "sliders.sliderValue", :step => "", :value => ""}
    .col-md-2
      %input-group{"ng-show"=>"repeatedly"}
        %input.form-control{"type"=>"text", "placeholder"=>"Frequency"}
        %input.form-control{"type"=>"text", "placeholder"=>"Distance"}
  .row
    .col-md-2
    .col-md-8
      %btn.pull-right{"type"=>"button", "class"=>"btn btn-primary", "ng-click" => "saveInvite()"} Save

