%form.form-signin{:name => "registerForm", "ng-show" => "session.state.is(dialogMap.USER_REGISTER)", "ng-submit" => "register()"}
  %h2.form-signin-heading Registrieren
  %div
    %label{:for => "inputName"} Benutzername
    %input#inputName.form-control{:name => "inputName", "ng-model" => "session.user.name", :placeholder => "Dein Benutzername ...", :required => "", :type => "text"}/
    %label{:for => "inputPassword"} Passwort
    %input#inputPassword.form-control{:name => "inputPassword", "ng-change" => "discardWarnings()", "ng-hide" => "session.showPassword", "ng-model" => "session.user.password", :placeholder => "8-20 Buchstaben", :required => "", :type => "password"}/
    %input#inputPasswordPlain.form-control{:name => "inputPasswordPlain", "ng-change" => "discardWarnings()", "ng-model" => "session.user.password", "ng-show" => "session.showPassword", :placeholder => "8-20 Buchstaben", :required => "", :type => "text"}/
    .error 
  %input#toggleShowPassword{"ng-checked" => "false", "ng-model" => "session.showPassword", :type => "checkbox"}/
  %label{:for => "toggleShowPassword"} Klartext
  %div
    %label{:for => "inputEmail"} E-Mail
    %input#inputEmail.form-control{:name => "inputEmail", "ng-change" => "discardWarnings()", "ng-model" => "session.user.email", :placeholder => "Deine E-Mail-Adresse ...", :required => "", :type => "text"}/
    .error 
    %label{:for => "inputTel"} Telefon
    %input#inputTel.form-control{:name => "inputTel", "ng-change" => "discardWarnings()", "ng-model" => "session.user.tel", :placeholder => "Deine Telefonnummer ...", :required => "", :type => "text"}/
    .error 
  %div
    %a#cancelRegisterLink{:href => "/", "ng-click" => "toggleLoginDialog()"} Registrieren abbrechen
  %span
    %input#registerBtn.btn.btn-primary.btn-block{:type => "submit", :value => "Registrieren"}/