%ptj-menu
.container
  .row
    / search & results
    / sidebar
    .col-md-2
      / %ptj-survey-select
    .col-md-8
      .panel.panel-primary
        .panel-heading Create new Event
        .panel-body
          .row
            .col-md-8
              %h2
                .item-wrapper
                  %a{"editable-text" => "selectedSurvey.name", :href => "#"}
                    {{selectedSurvey.name}}
              %h4
                .item-wrapper
                  %a{"editable-text" => "selectedSurvey.description", :href => "#"}
                    {{selectedSurvey.description}}
            .col-md-4
              .row
                .btn-group.pull-right
                  %label.btn.btn-primary{"btn-radio" => "'Once'", "ng-model" => "still_needs_a_model", "ng-click"=>"setOneTime()"} Once
                  %label.btn.btn-primary{"btn-radio" => "'Repeatedly'", "ng-model" => "still_needs_a_model", "ng-click"=>"setRecurring()"} Repeatedly
                %br/
                %br/
                %btn.btn-sm.btn-success.pull-right{"ng-click" => "showLiveButton=false", "ng-show" => "showLiveButton"}
                  Live
                  %span.glyphicon.glyphicon-bullhorn
                %btn.btn-sm.btn-warning.pull-right{"ng-click" => "showLiveButton=true", "ng-show" => "!showLiveButton"}
                  Staged
                  %span.glyphicon.glyphicon-off
          .rpw
            %ptj-groups

          .row
            .col-lg-11.dropdown
              %a#dropdown2.dropdown-toggle{"data-toggle" => "dropdown", :role => "button"}
                .input-group
                  %input.form-control{"ng-model" => "selectedInvite.survey.deadline", :type => "text"}/
                  %span.input-group-addon
                    Deadline
                    %i.glyphicon.glyphicon-calendar
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %datetimepicker{"data-datetimepicker-config" => "{ dropdownSelector: '#dropdown2' }", "ng-model" => "selectedInvite.survey.deadline", "date-format"=>"MM/dd/yyyy", "date-type" => "string", "bs-datepicker" => ""}

          %br
          .row
            %ptj-calendar

        .panel-footer
          .col-md-offset-10
            %button.btn.btn-default.btn-sm{:type => "reset"} Reset
            %button.btn.btn-primary.btn-sm{:type => "submit", "ng-click" => "saveSurvey()"} Save
    .col-md-2
      %input-group{"ng-show"=>"isRecurring()"}
        %input.form-control{"type"=>"text", "placeholder"=>"Frequency"}
        %input.form-control{"type"=>"text", "placeholder"=>"Distance"}
