%ptj-menu
.container
  deadline: {{selectedSurvey.deadline___}}
  .row
    / search & results
    / sidebar
    .col-md-2
      / %ptj-survey-select
    .col-md-8
      .panel.panel-primary
        .panel-heading Edit a survey for an event
        .panel-body
          .row
            .col-md-8
              %h2
                .item-wrapper
                  %a{"editable-text" => "selectedSurvey.name", :href => "#"}
                    {{selectedSurvey.name}}
              %h4
                .item-wrapper
                  %a{"editable-text" => "selectedSurvey.description", :href => "#"}
                    {{selectedSurvey.description}}
            .col-md-4
              .row
                .btn-group.pull-right
                  %label.btn.btn-primary{"btn-radio" => "'Once'", "ng-model" => "still_needs_a_model", "ng-click"=>"setOneTime()"} Once
                  %label.btn.btn-primary{"btn-radio" => "'Repeatedly'", "ng-model" => "still_needs_a_model", "ng-click"=>"setRecurring()"} Repeatedly
                %br/
                %br/
                %btn.btn-sm.btn-success.pull-right{"ng-click" => "showLiveButton=false", "ng-show" => "showLiveButton"}
                  Live
                  %span.glyphicon.glyphicon-bullhorn
                %btn.btn-sm.btn-warning.pull-right{"ng-click" => "showLiveButton=true", "ng-show" => "!showLiveButton"}
                  Staged
                  %span.glyphicon.glyphicon-off
          .rpw
            %ptj-groups

          .row
            .col-lg-11.dropdown
              %a#dropdown2.dropdown-toggle{"data-toggle" => "dropdown", :role => "button"}
                .input-group
                  %input.form-control{"ng-model" => "selectedSurvey.deadline___", :type => "text"}/
                  %span.input-group-addon
                    Deadline
                    %i.glyphicon.glyphicon-calendar
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %datetimepicker{"data-datetimepicker-config" => "{ dropdownSelector: '#dropdown2' }", "ng-model" => "selectedSurvey.deadline___", "date-format"=>"MM/dd/yyyy", "date-type" => "string", "bs-datepicker" => ""}

          %br
          .row
            .h4 Participants:
            %ul
              %li{"ng-repeat" => "invite in selectedSurvey.invites | filter: host == false"}
                %strong{} {{invite.user.name}}
                (E-Mail: {{invite.user.email}}, Tel: {{invite.user.tel}})

            %ptj-calendar{"possible" => "[]", "resulting" => "selectedSurvey.possibleTimePeriods"}

        .panel-footer
          .col-md-offset-10
            %button.btn.btn-default.btn-sm{:type => "reset"} Reset
            %button.btn.btn-primary.btn-sm{:type => "submit", "ng-click" => "saveSurvey()"} Save
    .col-md-2
      %input-group{"ng-show"=>"isRecurring()"}
        %select.form-control{"ng-model" => "selectedSurvey.frequencyUnit", "ng-options" => "opt for opt in TimeUnit._options"}
        %input.form-control{"type" => "number", "ng-model" => "selectedSurvey.frequencyDist", "placeholder" => "Distance", "min" => 0, "required" => "true"}
