.panel.panel-default
  %ul.list-group
    .list-group-item{:href => "#"} Rockettes
    .list-group-item{:href => "#"} Ralf Laurens
    .list-group-item{:href => "#"} Sam Fillers
    .list-group-item{:href => "#"} Dam Killers
    .list-group-item{:href => "#"} Masaki Haki Kaki