<h4>Popup</h4>
<div class='row'>
  <div class='col-md-6'>
    <p class='input-group'>
      <input class='form-control' close-text='Close' date-disabled='disabled(date, mode)' datepicker-options='dateOptions' datepicker-popup='dd-MMMM-yyyy' is-open='opened' max-date="'2015-06-22'" min-date='minDate' ng-model='dt' ng-required='true' type='text'>
      <span class='input-group-btn'>
        <button class='btn btn-default' ng-click='open($event)' type='button'>
          <i class='glyphicon glyphicon-calendar'></i>
        </button>
      </span>
    </p>
  </div>
</div>
