/* region to display an error */
#error { 
    color: white; 
    font-weight: bold; 
    background-color: red; 
}

/* class to display an error */
.error { 
    color: red; 
    font-weight: bold; 
    font-size: 0.6em; 
}

.input_area {
    float: left;
    width: 75%;
    min-width: 150px;
    max-width: 450px;
}

label {
    font-size: 0.75em;
    /*display: inline-block;*/
}

.full_width_input input {
    width: 98%;
}

.my_form {
    width: 98%;
    padding: 2%;
}

.my_form.ng-invalid {
    width: 98%;
    border-style: solid;
    border-color: red;
}

select {
    width: 98%;
}

textarea {
    width: 97%;
}

/*.output_area {
    float: left;
    width: 40%;
}*/
