/* region to display an error */
#error { 
    color: white; 
    font-weight: bold; 
    background-color: red; 
    display: none; 
}

/* class to display an error */
.error { 
    color: red; 
    font-weight: bold; 
}

.input_area {
    float: left;
    width: 40%;
}

label {
    font-size: 13px;
    display: inline-block;
}

.input_area input {
    width: 200px;
}

.input_area label {
    width: 80%;
}

.my-form.ng-invalid {
    border-style: solid;
    border-color: red;
}

.output_area {
    float: left;
    width: 40%;
}

.playground {
    float: left;
    width: 80%;
}

.output {
    border-style: dotted;
    border-color: #eeeeee;
}

.calc input {
    width: 5em;
}
#filter{
 width: 30%;
}
