/* region to display an error */
#error { 
    color: white; 
    font-weight: bold; 
    background-color: red; 
}

/* class to display an error */
.error { 
    color: red; 
    font-weight: bold; 
    font-size: 0.6em; 
}


