<!doctype html>
<html ng-app>
	<head>
		<title>Hello_AngularJS</title>
		<script src="lib/angular.min.js"></script>
    	<script src="js/json_hello.js"></script>
    	<script src="lib/angular-mocks.js"></script>
	</head>

	<body>
	
	<h1>Jetty is live!!!!</h1>
	
		<div ng-controller="HelloJson">
		
		<button ng-click='loadJson()'>Load Data</button>
			<p>The email is {{data.email}}</p>
			<p>The firstName is {{data.firstName}}</p>
			<p>The lastName is {{data.lastName}}</p>
			<p>The id is {{data.id}}</p>
			
		
		<button ng-click='PutJson()'>Send Data</button>	

        <td>PUT /api/user/create?name=NAME&pwd=PASSWORD&mail=EMAIL</td>
        
        <form>
		<!-- NAME -->
		<div id="name-group" class="form-group">
			<label>Name</label>
			<input type="text" name="name" placeholder="Bruce Wayne">
			<span class="help-block"></span>
		</div>

		<!-- SUPERHERO NAME -->
		<div id="superhero-group" class="form-group">
			<label>Superhero Alias</label>
			<input type="text" name="superheroAlias" placeholder="Caped Crusader">
			<span class="help-block"></span>
		</div>

		<!-- SUBMIT BUTTON -->
		<button ng-click='PutJson()'>Submit</button>	
		<button ng-click='PutJson1()'>Submit1</button>	
	</form>
       
		</div>
	</body>
</html>