!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / <base href="/">
    / for prettier urls
    /
      * Softwareprojekt SoSe/WiSe 2014, Team: Comanche
      * (C)opyright Sebastian Dassé, Mat.-Nr. 791537, s50602@beuth-hochschule.de
      * and Tong Duc Tung , s51488@beuth-hochschule.de
    %title SP1 Ojektverwaltung-UI, Team: Comanche
    / Latest compiled and minified CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", :rel => "stylesheet"}
    / Optional theme
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "", :rel => "stylesheet", :type => "text/css"}
    / Latest compiled and minified JavaScript
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style_prototype.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/ptj.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/xeditable.css", :rel => "stylesheet"}
    %link{:href => "css/slider.css", :rel => "stylesheet", :type => "text/css"}
    / for production
    / <script src="vendor/lib/angular.min.js"></script>
    / for development
    %script{:src => "vendor/lib/angular.js"}
    %script{:src => "vendor/lib/angular-route.js"}
    %script{:src => "vendor/lib/ui-bootstrap-tpls-0.11.2.min.js"}
    %script{:src => "vendor/lib/jquery-2.1.1.min.js"}
    / May be unwise to mix normal bootstrap with angular ui bootstrap
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"}
    %script{:src => "vendor/lib/xeditable.min.js"}
    %script{:src => "js/myApp.js"}
    %script{:src => "js/controllers/ctrl.js"}
    %script{:src => "js/controllers/login.js"}
    %script{:src => "js/controllers/cockpit.js"}
    %script{:src => "js/controllers/editUser.js"}
    %script{:src => "js/controllers/editInvite.js"}
    %script{:src => "js/controllers/invite.js"}
    %script{:src => "js/models/user.js"}
    %script{:src => "js/models/invite.js"}
    %script{:src => "js/models/survey.js"}
    %script{:src => "js/models/group.js"}
    %script{:src => "js/util/constants.js"}
    %script{:src => "js/util/datePickerDate.js"}
    %script{:src => "js/util/typeAugmentations.js"}
    %script{:src => "js/services/rest.js"}
    %script{:src => "vendor/lib/angular-slider.min.js"}
    %script{:src => "vendor/lib/bootstrap-slider.js"}
  / define angular controller
  %body{"ng-app" => "myApp", "ng-controller" => "ctrl"}
    %div{"ng-view" => ""}