<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <!-- 
     * Technik-Prototyp, SP1 SoSe 2014, Team: Comanche
     * (C)opyright Sebastian Dassé, Mat.-Nr. 791537, s50602@beuth-hochschule.de
     *
    -->
    
    <title>SP1 Technik-Prototyp, Team: Comanche</title>
    
    <!-- import style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    
</head>
<body ng-app="myApp" ng-controller="Ctrl">
    
    <!-- display errors here -->
    <pre id="error"></pre>

    
    <div class="input_area">

        <div>
            <label for="inputName">Wie hei&szlig;t du?</label>
            <input id="inputName" type="text" ng-model="name" placeholder="Dein Name ..." />
        </div>
        <br />

        <div ng-show="name">
            <label for="inputSecrets">Hallo {{ name }}! Erz&auml;hl mir all deine Geheimnisse:</label>
            <input id="inputSecrets" type="textarea" ng-model="secrets" placeholder="Deine Geheimnisse ..." />
        </div>
        <br />

        <form name="myForm" ng_show="name && secrets" class="my-form">
            <label for="inputPIN">Wie ist deine f&uuml;nfstellige PIN?</label>
            <input id="inputPIN" name="inputPIN" type="text" ng-model="inputPIN" ng-pattern="allowedPIN" placeholder="Deine PIN ..." required />
            <span class="error" ng-show="myForm.inputPIN.$error.required"> &larr; Pflichtfeld!</span>
            <div class="error" ng-show="myForm.inputPIN.$error.pattern">Falsches Format! Bitte gib 5 Ziffern ein!</div>
            
            <span ng-show="inputPIN">
                Deine PIN ist: <span class="output"> {{ inputPIN }} </span>
            </span>
        </form>
        <br />
        
    </div>


    <div ng-show="name" class="output_area">
        <br />

        <div>
            {{ name.toUpperCase() }}{{ secrets && ", ich kenne alle deine Geheimnisse: " }}{{ secrets || ", ich wei&szlig; noch gar nichts von dir ..." }}
        </div>
        <br />


        <div ng-show="inputPIN">
            <hr />
            <br />
            Deine Geheimnisse r&uuml;ckw&auml;rts: {{ reverseName() }}
        </div>
    </div>


    <div ng-show="inputPIN" class="playground">
    <!-- <div class="playground"> -->
        <hr /><br />

        <div>
            <input type="button" value="Neue Karte ziehen" ng-click="update();" />
            <span class="output"> {{ test.suit }} {{ test.card }} </span> aufgedeckt um <span class="output"> {{ test.date }} </span> Uhr.
            
            <br />
            <!-- <input type="button" value="m&ouml;gliche Farben zeigen" ng-click="update();" /> -->
            <!-- <input type="button" value="m&ouml;gliche Karte zeigen" ng-click="update();" /> -->
            m&ouml;gliche Karte zeigen: <input type="text" ng-model="cardSelection" />
            <br />
            m&ouml;gliche Farben zeigen: <input type="text" ng-model="suitSelection" />
            
            <table ng-show="cardSelection">
                <tr ng-repeat="selection in cards.card">
                    <td>{{ selection }}</td>
                </tr>
            </table>

            <table ng-show="suitSelection">
                <tr ng-repeat="selection in cards.suit">
                    <td>{{ selection }}</td>
                </tr>
            </table>
        </div>

        <br /><hr /><br />

        <div class="calc">
            <label>Rechnen: </label>
            <input id="a" type="text" ng-model="a" ng-change=" add(a,b)" />
             + 
            <input type="text" ng-model="b" ng-change="add(a,b)"  />
             = 
            <input type="text" ng-model="sum" />
        </div>

    </div>


    <!-- import javascript -->

    <!-- for production -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
    
    <!-- for development -->
    <script src="lib/angular.js"></script>

    <script src="js/Ctrl.js"></script>
 
</body>
</html>