<script id='calendarModalContent.html' type='text/ng-template'>
  <div class='modal-header'>
    <h3 class='modal-title'>
      <span class='glyphicon glyphicon-user'></span>
      Edit calendar
    </h3>
  </div>
  <div class='modal-body'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='btn-group'>
          <button class='btn btn-default' ng-click='' type='button'>
            <span class='glyphicon glyphicon-plus'></span>
            Add
          </button>
        </div>
      </div>
    </div>
    <div class='row'>
      <ptj-calendar resulting='test'></ptj-calendar>
    </div>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-primary' ng-click='ok()'>OK</button>
    <button class='btn btn-warning' ng-click='cancel()'>Cancel</button>
  </div>
</script>
<div class='input-group'>
  <input class='btn btn-primary' ng-click='openCalendarModal()' type='button' value='Open calendar'>
</div>
<div>sel: {{ selected }}</div>
<div>test: {{ test }}</div>
