.navbar.navbar-default
  %ul.nav.nav-pills
    %li.navbar-header
      %a.navbar-brand{:href => "#/cockpit"} PLAN THE JAM
    %li
      %a{:href => "#/cockpit"} Cockpit
    %li
      %a{:href => "#/survey"} Survey
    %li
      %a{:href => "#/account"} Account
    %li
      %a#logout{:href => "", "ng-click" => "logout()"} Logout