.navbar.navbar-inverse
  .navbar-left
    %ui.nav.navbar-nav.navbar-right
      .navbar-header
        %a.navbar-brand{:href => ""} COMANCHE
      %li.nav
        %a{:href => "#/cockpit"} Cockpit
      %li.nav
        %a{:href => "#/invite"} Create Invite
      %li.nav
        %a#editUser{:href => "", "ng-click" => "editUser()"} Account
      %li.nav.navbar-right
        %a#logout{:href => "", "ng-click" => "logout()"} Logout
      / TODO should trigger logout via REST