.navbar.navbar-default
  %ul.nav.nav-pills
    %li.navbar-header
      %a.navbar-brand{:href => ""} COMANCHE
    %li
      %a{:href => "#/cockpit"}
        Cockpit
    %li
      %a{:href => "#/invite"} Create Invite
    %li
      %a{:href => "#/account"} Account
    %li
      %a#logout{:href => "", "ng-click" => "logout()"} Logout
    / TODO should trigger logout via REST