
  <div class="row">


<!-- search & results -->


<div class="input-group">
<div class="input-group-btn">
 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul></div>


 <span class="input-group-addon"> <span class="glyphicon glyphicon-star"></span>Rocketes</span>
	<input type="text" ng-model="userSelected" placeholder="Search user..." typeahead="user as user.name for user in users | filter: {name:$viewValue} | limitTo: 5" class="form-control" ng-click="isCollapsed = false">

	    <div class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-list" ></span></button></div></div>





	