<div class='panel-group' id='accordion'>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <div class='panel-title'>
        <div class='row'>
          <span class='glyphicon glyphicon-plus col-md-offset-1' data-target='#calendarModal' data-toggle='modal' ng-click='renderCalendar()' type='button'></span>
          <div aria-hidden='true' class='modal fade bs-example-modal-lg' data-target='.bs-example-modal-lg' id='calendarModal' role='dialog' tabindex='-1'>
            <div class='modal-dialog modal-lg'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
                    <span aria-hidden='true'>×</span>
                  </button>
                  <h4 class='modal-title'>Please give your Avaibilities</h4>
                </div>
                <div class='modal-body'>
                  <div calendar='surveyCalendar' class='calendar' ng-model='eventSources' ui-calendar='uiConfig.calendar'></div>
                </div>
                <div class='modal-footer'>
                  <button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
                  <button class='btn btn-primary' type='button'>Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <a data-parent='#accordion' data-toggle='collapse' href='#collapseOne' onclick='return false;'>
            Possible time periods
            <span class='col-md-offset-3 glyphicon glyphicon-resize-vertical'></span>
          </a>
        </div>
      </div>
    </div>
    <div class='panel-collapse collapse in' id='collapseOne'>
      <div class='panel-body'>
        <tabset type='pills' vertical='true'>
          <tab ng-repeat='timePeriod in possibleTimePeriods'>
            <tab-heading>
              {{timePeriod.start | date:'yyyy-MM-dd HH:mm' }} to {{timePeriod.end | date:'yyyy-MM-dd HH:mm'}}
              <span class='glyphicon glyphicon-remove text-danger' ng-click='removeTimePeriod()' onClick='return false;' type='button'></span>
            </tab-heading>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
